<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Article Not Found</title>
    <link rel='stylesheet' th:href='@{/static/css/awsomefont.all.min.css}'>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/style.css}" type="text/css">
</head>
<body>
<div th:replace="PageTemplate :: nav"></div>

</nav>
<div class="article-post">
    <br>
    <div style="text-align: center">
        <img src="https://i.ibb.co/7425yMw/Png-Item-119862.png" height="350px" width="350px" a>
        <br>
    </div>
    <h1 align="center" size="90 px">  ERROR 404 : <br> ARTICLE NOT FOUND</h1>
</div>
<div></div>
</body>
</html>