<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Article Removed</title>
    <link rel='stylesheet' th:href='@{/static/css/awsomefont.all.min.css}'>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/style.css}" type="text/css">
</head>
<body>
    <div th:replace="PageTemplate :: nav"></div>

    <h1 style="text-align: center;"> Article Removed </h1>

    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
    <script type="text/javascript">
        // Total seconds to wait
        let seconds = 3;

        function countdown() {
            seconds = seconds - 1;
            if (seconds < 0) {
                window.location = "http://localhost:8080/";
            } else {
                // Count down using javascript
                window.setTimeout("countdown()", 1000);
            }
        }

        // Run countdown function
        countdown();

    </script>
</body>
</html>