<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Article</title>
    <link rel='stylesheet' th:href='@{/static/css/bootstrap.min.css}'>
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/css/quill_style.css}" type="text/css">
    <style>
        #editor-container {
            height: 375px;
            width: auto;
            /* added these styles */
            display: block;
        }

    </style>
</head>
<body>
<nav th:replace="navbar"></nav>
<!-- partial:index.partial.html -->
<div class="container">
    <form method="post" th:action="${article != null} ? '/article/edit' : '/article/create' ">
        <br>
        <div class="form-group" th:if="${article != null}">
            <input type="hidden" id="articleId" name="articleId" th:value="${article?.getArticleId()}">
            <input class="oldContent" th:value="${article.getContent()}" type="hidden">
        </div>

        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control input-lg " id="title" name="title"
                   type="text" th:value="${article?.getTitle()}">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control input-lg " id="description" name="description"
                   type="text" th:value="${article?.getDescription()}">
        </div>

        <div class="form-group">
            <label for="tag">Tag</label>
            <input class="form-control input-lg " id="tag"  name="tag"
                   type="text" th:value="${article?.getTag()}">
        </div>

        <div class="form-group">
            <label for="tag">Content</label>
            <input name="content" id="content" type="hidden">
            <div id="editor-container">
                <p></p>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" value="Submit">Post</button>
    </form>
</div>

<!-- partial -->
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script>
    $(() => {
        const quill = new Quill('#editor-container', {
            modules: {
                'toolbar': [
                    [{'font': []}, {'size': []}],
                    ['bold', 'italic', 'underline', 'strike'],
                    [{'color': []}, {'background': []}],
                    [{'script': 'super'}, {'script': 'sub'}],
                    [{'header': '1'}, {'header': '2'}, 'blockquote', 'code-block'],
                    [{'list': 'ordered'}, {'list': 'bullet'}, {'indent': '-1'}, {'indent': '+1'}],
                    ['direction', {'align': []}],
                    ['link', 'image', 'video', 'formula'],
                    ['clean']
                ]
            },
            placeholder: 'อยากเขียนหยังกะเขียนโลด',
            theme: 'snow'
        });

        const form = document.querySelector('form');
        form.onsubmit = function() {
            const about = document.querySelector('input[name=content]');
            about.value = quill.root.innerHTML;
        };

        quill.root.innerHTML = $('.oldContent').val();
    });
</script>
</body>
</html>
