<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="PageTemplate.html" charset="UTF-8">
    <title>Article Not Found</title>
</head>
<body>
<nav th:replace="PageTemplate.html">

</nav>
<div class="article-post">
    <br>
    <div style="text-align: center">
        <img src="https://i.ibb.co/7425yMw/Png-Item-119862.png" height="350px" width="350px" a>
        <br>
    </div>
    <h1 align="center" size="90 px">  ERROR 404 : <br> ARTICLE NOT FOUND</h1>
</div>
<div></div>
</body>
</html>