<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article Create Form</title>
</head>
<body>
    <form method="post" action="/article/create">
        <label for="userId">UserId : :</label><br>
        <input type="text" id="userId" name="userId" required/><br>
        <label for="title">Title : :</label><br>
        <input type="text" id="title" name="title" required/><br>
        <label for="content">Content: :</label><br>
        <input type="text" id="content" name="content" required/><br>
        <label for="tag">Tag: :</label><br>
        <input type="text" id="tag" name="tag" required/><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>