<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel='stylesheet' th:href='@{/static/css/awsomefont.all.min.css}'>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/style.css}" type="text/css">
</head>

<body>
<div th:replace="PageTemplate :: nav"></div>

<div class="container">
    <div class="rankedArticleSection">
        <h4>Trending on DH</h4>
        <div class="sideRenderSection"></div>
    </div>
    <div class="latestArticleSection">
        <h4>Latest article</h4>
        <div class="row flex-row-reverse">
            <div class="col-12 col-md-4 col-lg-6">
                <img src="https://i.ibb.co/v3kXFyC/Untitled-2.png" alt="Untitled-2" border="0">
            </div>
            <div class="col-12 col-md-8 col-lg-6 renderSection"></div>
        </div>
    </div>
</div>

<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/moment-with-locales.min.js}"></script>
<script>
    let latestArticlePage = 0;

    const fetchRankedArticles = () => {
        return new Promise((resolve, reject) => {
            $.ajax({
                url: "/getDashboardByRank?page=0",
                method: "GET",
            }).done((data) => {
                resolve(data);
            }).fail(() => {
                reject();
            });
        });
    };

    const fetchLatestArticles = (page) => {
        return new Promise((resolve, reject) => {
            $.ajax({
                url: `/getDashboardLatest?page=${page}`,
                method: "GET",
            }).done((data) => {
                resolve(data);
            }).fail(() => {
                reject();
            });
        });
    };

    const getRankedTemplate = (num, writer, title, desc, date, view, articleId) => {
        const formattedDate = moment(date).locale('th');

        return `<div class="articleCard">
                    <div class="articleRank">0${num + 1}</div>
                    <div class="articleDetails">
                        <div class="articleWriter"><a href="/me">${writer}</a></div>
                        <div class="articleTitle"><a href="/article?id=${articleId}">${title}</a></div>
                        ${desc ? `<div class="articleDescription">${desc}</div>` : ''}
                        <div class="articleDate">${formattedDate.format('ll')}  ·  View ${view}</div>
                    </div>
                </div>`;
    };

    const getLatestTemplate = (writer, title, desc, date, view, thumbnail, articleId) => {
        const formattedDate = moment(date).locale('th');

        return `<div class="articleCard">
                    <div class="articleDetails">
                        <div class="articleWriter"><a href="/me">${writer}</a></div>
                        <div class="articleTitle"><a href="/article?id=${articleId}">${title}</a></div>
                        ${desc ? `<div class="articleDescription">${desc}</div>` : ''}
                        <div class="articleDate">${formattedDate.format('ll')}  ·  View ${view}</div>
                    </div>
                    ${thumbnail ? `<img src="${thumbnail}" class="rounded mx-auto" draggable="false" style="height: 120px;width: 120px;object-fit: cover;">` : ''}
                </div>`;
    };

    const renderRankedArticles = (articles) => {
        const rankedSection = $(".rankedArticleSection > .sideRenderSection");
        for (let i = 0; i < articles.length; i++) {
            const article = articles[i];
            const rendered = getRankedTemplate(i, article['writerName'],
                article['title'], article['description'], article['publishDate'],
                article['visitorCount'], article['articleId']);
            rankedSection.append(rendered);
        }
    };

    const renderLatestArticles = (articles) => {
        const latestSection = $(".latestArticleSection > .row > .renderSection");
        for (let i = 0; i < articles.length; i++) {
            const article = articles[i];
            const rendered = getLatestTemplate(article['writerName'],
                article['title'], article['description'], article['publishDate'],
                article['visitorCount'], article['thumbnail'], article['articleId']);
            latestSection.append(rendered);
        }
    };

    const showRankedArticles = async () => {
        let rankedArticles;
        try {
            rankedArticles = await fetchRankedArticles();
        } catch (e) {
            console.info("Couldn't fetch data from backend or it's just empty");
            return false;
        }

        renderRankedArticles(rankedArticles['articles']);
        return true;
    };

    const showCurrentPageLatestArticles = async () => {
        let latestArticle;
        try {
            latestArticle = await fetchLatestArticles(latestArticlePage);
        } catch (e) {
            console.info("Couldn't fetch data from backend or it's just empty");
        }

        if (latestArticle['articles'].length === 0) {
            return false;
        }
        latestArticlePage++;

        renderLatestArticles(latestArticle['articles']);
        return true;
    };

    $(async () => {
        await showRankedArticles();

        while (window.innerHeight >= document.body.scrollHeight) {
            if (!(await showCurrentPageLatestArticles())) {
                break;
            }
        }
    });

    $(window).scroll(async () => {
        if ($(document).height() - $(this).height() === $(this).scrollTop()) {
            await showCurrentPageLatestArticles();
        }
    });
</script>
</body>
</html>