<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit">
    <link rel="stylesheet" th:href="@{/static/css/css.css}" type="text/css">

    <style> body {
        font-family: 'Kanit', sans-serif;
        font-size: 48px;
    }
    </style>
</head>
<body>

</body>
</html>