<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/theme.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit">
    <style> body {
        font-family: 'Kanit', sans-serif;
        font-size: 48px;
    }
    </style>
</head>

<body>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSjQT_Dyh40TZUX8jAmuw8rhrs50YB7fh8qcw&amp;usqp=CAU" width="50" height="50">
    </a>
    <a>
        <button type="button" class="btn btn-dark">get started</button>
    </a>
</nav>
<div class="py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-0 p-0">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center">Heading 4 </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"><img class="img-fluid d-block w-100" src="https://static.pingendo.com/img-placeholder-1.svg"></div>
                </div>
                <div class="row m-0 p-0">
                    <div class="">
                        <h5 class="m-0 p-0">เราต้องการคุณ!</h5>
                        <div class="row">
                            <div class="col-md-12"><a class="btn btn-primary m-0" href="#">Learn more...</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="" contenteditable="true">Trending</h3>
                <div class="row">
                    <div class="col-md-1 col-1 col-sm-1 col-lg-1 text-left" style="">
                        <h1 class="">1</h1>
                    </div>
                    <div class="col-sm-11 col-11 col-md-1 col-lg-11" style="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-2 col-sm-2 px0 col-md-3 col-lg-1" id="trend_Heading 1" style="transition: all 0.25s;"><img src="https://static.pingendo.com/img-placeholder-3.svg" width="auto" height="50
55
auto" class="rounded-circle"></div>
                                    <div class="col-10 col-sm-10 col-md-9 col-lg-10 " id="trend_Heading 2" style="transition: all 0.25s;">
                                        <h5 class="ml-3 mt-4">%name</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="" style="">Heading 1</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" style="">
                                        <h6 class="" id="trend_date_1">Heading 6</h6>
                                    </div>
                                    <div class="col-md-6" style="">
                                        <h6 class="">Heading 6</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-1 col-sm-1 col-lg-1 text-left" style="">
                        <h1 class="">2</h1>
                    </div>
                    <div class="col-sm-11 col-11 col-md-1 col-lg-11" style="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-2 col-sm-2 px0 col-md-3 col-lg-1" id="trend_Heading 3" style="transition: all 0.25s;"><img src="https://static.pingendo.com/img-placeholder-3.svg" width="auto" height="50
55
auto" class="rounded-circle"></div>
                                    <div class="col-10 col-sm-10 col-md-9 col-lg-10 " id="trend_Heading 4" style="transition: all 0.25s;">
                                        <h5 class="ml-3 mt-4">%name</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="" style="">Heading 2&nbsp;</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" style="">
                                        <h6 class="" id="trend_date_2">Heading 6</h6>
                                    </div>
                                    <div class="col-md-6" style="">
                                        <h6 class="">Heading 6</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-1 col-sm-1 col-lg-1 text-left" style="">
                        <h1 class="">3</h1>
                    </div>
                    <div class="col-sm-11 col-11 col-md-1 col-lg-11" style="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-2 col-sm-2 px0 col-md-3 col-lg-1" id="trend_Heading 5" style="transition: all 0.25s;"><img src="https://static.pingendo.com/img-placeholder-3.svg" width="auto" height="50
55
auto" class="rounded-circle"></div>
                                    <div class="col-10 col-sm-10 col-md-9 col-lg-10 " id="trend_Heading 6" style="transition: all 0.25s;">
                                        <h5 class="ml-3 mt-4">%name</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="" style="">Heading 3&nbsp;</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" style="">
                                        <h6 class="" id="trend_date_3">Heading 6</h6>
                                    </div>
                                    <div class="col-md-6" style="">
                                        <h6 class="">Heading 6</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-1 col-sm-1 col-lg-1 text-left" style="">
                        <h1 class="">4</h1>
                    </div>
                    <div class="col-sm-11 col-11 col-md-1 col-lg-11" style="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-2 col-sm-2 px0 col-md-3 col-lg-1" id="trend_Heading 7" style="transition: all 0.25s;"><img src="https://static.pingendo.com/img-placeholder-3.svg" width="auto" height="50
55
auto" class="rounded-circle"></div>
                                    <div class="col-10 col-sm-10 col-md-9 col-lg-10" id="trend_Heading 8" style="transition: all 0.25s;">
                                        <h5 class="ml-3 mt-4">%name</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="" style="">Heading 4&nbsp;</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" style="">
                                        <h6 class="" id="trend_date_4">Heading 6</h6>
                                    </div>
                                    <div class="col-md-6" style="">
                                        <h6 class="">Heading 6</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-1 col-sm-1 col-lg-1 text-left" style="">
                        <h1 class="">5</h1>
                    </div>
                    <div class="col-sm-11 col-11 col-md-1 col-lg-11" style="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-2 col-sm-2 px0 col-md-3 col-lg-1" id="trend_Heading 9" style="transition: all 0.25s;"><img src="https://static.pingendo.com/img-placeholder-3.svg" width="auto" height="50
55
auto" class="rounded-circle"></div>
                                    <div class="col-10 col-sm-10 col-md-9 col-lg-10 " id="trend_Heading 10" style="transition: all 0.25s;">
                                        <h5 class="ml-3 mt-4">%name</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="" style="">Heading 5</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" style="">
                                        <h6 class="" id="trend_date_5">Heading 6</h6>
                                    </div>
                                    <div class="col-md-6" style="">
                                        <h6 class="">Heading 6</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-8" style="">
                        <div class="row">
                            <div class="col-md-12" style="">
                                <div class="row">
                                    <div class="col-2 col-sm-2 px0 col-md-3 col-lg-1" id="trend_Heading 11" style="transition: all 0.25s;"><img src="https://static.pingendo.com/img-placeholder-3.svg" width="auto" height="50
55
auto" class="rounded-circle"></div>
                                    <div class="col-10 col-sm-10 col-md-9 col-lg-10 " id="trend_Heading 12" style="transition: all 0.25s;">
                                        <h5 class="ml-4 mt-4">%name</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="">
                                <h5 class="" id="post_namepost_index">Topic</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="">
                                <h5 id="post_desc_index">Lead paragraph. A wonderful serenity has taken possession of my entire soul.</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="" id="post_date_index">Date</h5>
                            </div>
                            <div class="col-md-6">
                                <h6 class=""><i class="fa fa-fw fa-heart-o pull-right"></i></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"><img class="d-block img-fluid my-2 mx-auto" src="https://static.pingendo.com/img-placeholder-1.svg" width="200" height="20
190
Auto"></div>
                </div>
            </div>
            <div class="col-md-6" >
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="">Topic</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"><a class="btn btn-primary mx-2 my-2" href="#" id="btn_topic_1">Button</a><a class="btn btn-primary mx-2 my-2" href="#" id="btn_topic_2">Button</a><a class="btn btn-primary mx-2 my-2" href="#" id="btn_topic_3">Button</a><a class="btn btn-primary mx-2 my-2" href="#" id="btn_topic_4">Button</a><a class="btn btn-primary mx-2 my-2" href="#" id="btn_topic_5">Button</a><a class="btn btn-primary mx-2 my-2" href="#" id="btn_topic_6">Button</a><a class="btn btn-primary mx-2 my-2" href="#" id="btn_topic_7">Button</a></div>
                </div>
                <div class="col-md-12">
                    <h5 class=""><a href="#">See more...</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
</body>

</html>