<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit">
  <link rel="stylesheet" th:href="@{/static/css/bootstrap_main.css}" type="text/css">
  <style> nav {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
  }
  body {
    font-family: 'Kanit', sans-serif;
  }
  </style>
</head>

<body >
<nav class="navbar navbar-expand-md navbar-light shadow-sm border-bottom border-primary">
  <div class="container"> <a class="navbar-brand text-primary align-items-center mx-2" href="#">
    <img src="https://i.ibb.co/WHSpDsm/Untitled-1.png" width="80" height="80" class="d-inline-block align-top" alt=""></a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbar4">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"> <a class="nav-link" href="#" >Stories</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Post</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Author</a> </li>
      </ul> <a type="button" class="btn btn-outline-primary">get started</a>
    </div>
  </div>
</nav>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"></script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>