<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Setting</title>
    <link rel='stylesheet' th:href='@{/static/css/awsomefont.all.min.css}' type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" type="text/css">
    <style>
        .emailUpdate-group{
            margin: 40px auto;
            width: 500px;
            border: 5px solid skyblue;
            padding: 20px;
            border-radius: 10px;

        }
        .passwordUpdate-group{
            margin: 40px auto;
            width: 500px;
            border: 5px solid skyblue;
            padding: 20px;
            border-radius: 10px;

        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light shadow-sm border-bottom border-primary">
    <div class="container"> <a class="navbar-brand text-primary align-items-center mx-2" href="#">
        <img src="https://i.ibb.co/WHSpDsm/Untitled-1.png" width="80" height="80" class="d-inline-block align-top" alt=""></a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbar4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"> <a class="nav-link" href="#" >Stories</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Post</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Author</a> </li>
            </ul> <a type="button" href="/register" class="btn btn-outline-primary">get started</a>
        </div>
    </div>
</nav>
    <div class="container">
        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${msg != null}">
            <div th:text="${msg}"></div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${err != null}">
            <div th:text="${err}"></div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="passwordUpdate-group">
            <form action="/me/updatePassword" method="post">
                <div class="form-group">
                    <label for="exampleInputPassword2">Current Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" name="currentPassword"
                           placeholder="your current password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPasswordNew">New Password</label>
                    <input type="password" class="form-control" id="exampleInputPasswordNew" name="newPassword"
                           placeholder="your new password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPasswordConfirm">Confirm Your New Password</label>
                    <input type="password" class="form-control" id="exampleInputPasswordConfirm" name="confirmNewPassword"
                           placeholder="confirm your new password">
                </div>
                <input  type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update Password</button>
                </div>
            </form>
        </div>
    </div>
    <!-- jQuery and JS bundle w/ Popper.js -->
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
</body>
</html>